.movie-section{
    overflow: auto;
    margin-top:0.001%;
    height: 30%;
    
    border: 2px solid white;
    white-space: nowrap;
}

.title{
    margin:1%;
    position: relative;
}

.image{
    margin:10px;
}

.posters{
    width: max-content;
    margin:10px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
}